.headers{
  position: relative;
  align-items: center;
  text-align: center;
  line-height: 20px;
  font-family: MoonGloss;
  color: #3b89ff;
}
.sort{
  line-height: 50px;
  
}
.backtomain{
  font-family: MoonGloss;
  position: absolute;
  color: #3b89ff;
  text-decoration: none;
  top: 0.5%;
  font-size: 51px;
  text-align: center;
}

.vid_galery{
  position: relative;
  top: 10px;
  align-items: center;
  text-align: center;

}

body{
  background-color: #454545;
}

@font-face {
  font-family: MoonGloss;
  src: url("MoonGlossDisplayThick.ttf");
}
