.headers{
  position: relative;
  align-items: center;
  text-align: center;
  line-height: 20px;
  font-family: MoonGloss;
  color: #3b89ff;
}

.notes{
  font-family: MoonGloss;
  position: absolute;
  color: #3b89ff;
  top: 20%;
  left: 2%;
  font-size: 51px;
  text-align: center;
}
.works{
  font-family: MoonGloss;
  width: 100%;
  position: absolute;
  top: 20%;
  color: #3b89ff;
  font-size: 51px;
  text-align: center;
}

body{
  background-color: #454545;
}

@font-face {
  font-family: MoonGloss;
  src: url("MoonGlossDisplayThick.ttf");
}
